/******************************************************************************

               Quiz_Mania_Langage CSS           ISN  Livet  2018-2019

*******************************************************************************/
/******************************************************************************

               Dépendant de chaque page :

*******************************************************************************/

#jeu{
	position: fixed;
	margin-top: 6%;
	width: 900px;
	height: 600px;
	left: 50%;
    margin-left: -450px;
    z-index: 2;
}

/******************************************************************************

               Indépendant de chaque page :

*******************************************************************************/
 


 /******************************************************************************

               Pour que le contenu puisse s'afficher a coté du volet:

*******************************************************************************/
#PAGE{
	position: absolute;
	z-index: 1;
	width: 99.5%;
}

body {
	margin: 0;
}
/******************************************************************************

               Gestion du volet coulissant :

*******************************************************************************/
#volet {
	float: left;
	width: 25%;
	padding: 1%;
	background: #858388; color: #fff;	/* Couleur de fond du volet puis couleur de l'écriture */

	position: relative;
	left: -27%;
	height: 2000px;
	-webkit-transition: all	.5s ease-in;
	transition: all .5s ease-in;

	z-index: 10;
}


#volet a.ouvrir,
#volet a.fermer {

	padding: 10px 25px;
	background: #555; /* Couleur de fond de ce bouton */
	color: #121;	/* Couleur de l'écriture */
	text-decoration: none;

	position: absolute;
	right: -49px;
	top: 7%;

	-ms-transform: rotate(270deg);     /* Tourne le bouton */
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);

	border-radius: 0 0 8px 8px;	/* Arrondit les bord droit du bouton */

}


#volet a.fermer{

	display: none;

}

#volet:target {
	top: 0;
	left: 0;

}


#volet_clos:target #volet {
	top: -0;
	left: -27%;	

}

#volet:target a.ouvrir {
	display: none;
}
#volet:target a.fermer {
	display: inline;
}

/******************************************************************************

               Gestion des onglets :

*******************************************************************************/
#navigation{
	font: 2em Arial,sans-serif ;
}
#navigation ul li ul {
	display: none;
}
#navigation ul li:hover ul {
 	display:block;
 }
#navigation li:hover ul li {
 	float:none;
 }


#Nav_ref{
	font: 0.75em Arial,sans-serif ;
}

#Nav_Diapo{
	font: 0.5em Arial,sans-serif ;
}

.navigationbis li{
	margin-top: 5%;
	list-style-type: none;							/* Supprime le soulignage */
	text-decoration: none;
	color: black;
	font-weight: bold;                      		/* Texte en gras  */
}
ul.navigationbis  li a {
	 text-decoration: none;							/* supprimer le soulignage */
 	 color: black;
 }
 .navigationbis li a.active {
 	color: white;
 }


 #ICONE{
 	width: 8%;
 	height: 8%;
 }


 /******************************************************************************

               Gestion du haut de page :

*******************************************************************************/
#haut_de_page {
	 position: fixed;
	 margin-top: 1%;
	 width: 95%;
	 left: 50%;
	 margin-left: -47.5%;
	 text-align: center;
	 font: 4em Arial,sans-serif ;				/* Style et taille de la police */
	 color: rgb(70,70,70);					/* Couleur de la police */	
	 z-index: 5;
}

 /******************************************************************************

               Gestion du bas de page :

*******************************************************************************/

#bas_de_page {
	 position: fixed; 
	 bottom: 50%;
	 margin-bottom: -400px;
	 left: 18.53%;
	 width: 60%;
	 height: 10%;
	 padding-left: 30px;
	 border-radius: 5px;	
	 z-index: 3;
}
#Defile_parent{
	margin-top: 1.5%;
	margin-left: 8.03%;
	width: 80%;
	height: 30%;
	white-space : nowrap;						/* Empêche le retour a la ligne */
	overflow: hidden;							/* Pour que le texte ne soit plus visible en dehors du cadre */
}
#retourHaut {
	color: white;
	float: right;
	margin-right: 3%;
	text-decoration: none;
	}
#Licence{
	color: black;
	float: left;
	margin-left: 3%;
	text-decoration: none;
}
.Defile_enfant {
	display:block;
	color: black;
	-moz-animation:linear marqueelike 5s infinite ;  /* -moz- pour mozilla*/
	text-align:left;
	font: 1em Calibri ;				/* Style et taille de la police */
}


.Defile_enfant:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;	/* Gère les blancs pour mettre le texte en ligne */
	padding-left:2%;
}


@-moz-keyframes marqueelike {
	0%, 1% {margin-left:0%;}		/* 1: Vers la droite  2: Vers la gauche  3: fait un retour a la ligne*/
	99.99% {margin-left:-87.5%;}

